<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>

    <div class="label label-danger" style="font-size:10px">
        <%= error %>
    </div>
    <h1>
        <%= title %>
    </h1>
    <p>Welcome to
        <%= nombre %>
    </p>

</body>

</html>