<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/tagmanager/3.0.2/tagmanager.min.css"> -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
	<!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tagmanager/3.0.2/tagmanager.min.js"></script> %>-->
    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.10.0/jquery.validate.min.js"></script>
    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.10.0/localization/messages_es.js"></script>
    <script type="text/javascript" src="/javascripts/utilidades.js"></script>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel='stylesheet' href='/stylesheets/tagsinput.css' />

    <title>
        <%= title %>
    </title>

</head>

<body >
    <!--Inicio nav-->
    <div class="banner-left-side ">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
        <a class="navbar-brand" href="/principal">
            <%= title %>
        </a>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                <%if (typeof session == 'undefined' || (!session) ){%>
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0"></ul>
                     <form id="idinicio" class="form-inline my-2 my-lg-0" method="POST" action="inicio_sesion">
                
                        <script type="text/javascript">
                            $(function() {
                                validar();
                            });
                        </script>
                        <!--Presentacion de mensaje--->
                        <% if(typeof msg != 'undefined') {%>
                             <% if(typeof msg.error != 'undefined' && msg.error.length > 0) { %>
                            <div class="form-group" id="mensaje">
                                <div class="alert alert-danger" role="alert" style="font-size: 10px">
                                    <%= msg.error %>
                                </div>
                            </div>
                        <% } %>
                        <% if(typeof msg.ok != 'undefined' && msg.ok.length > 0) { %>
                            <div class="form-group" id="mensaje">
                                <div class="alert alert-success" role="alert" style="font-size: 10px">
                                            <%= msg.ok %>
                                 </div>
                            </div>
                        <% } %>
                        <script type="text/javascript">
                            $(function() {
                                $('#mensaje').hide(4000);
                            });
                        </script>
                    <% } %>
                    <!--Finaliza el mensaje-->
                    <input class="form-control mr-sm-2" type="text" name="correo" placeholder="Correo">
                    <input class="form-control mr-sm-2" type="password" name="clave" placeholder="Clave">
                    <button class="btn btn-success my-2 my-sm-0" type="submit">Iniciar Sesion</button>&nbsp
                    <a href="/registro" class="btn btn-danger">Registrar</a>
                </form>
                    <% } else { %>
                    <%if (usuario!=" "){%>
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                         <li <%if (typeof active == 'undefined' || active=='home' ){%>
                              class="nav-item active"
                        <% }%> >
                             <a class="nav-link" href="/principal">Home <span class="sr-only">(current)</span></a>
                         </li>
                        <li <%if (typeof active == 'undefined' || active=='paciente' ){%>
                              class="nav-item active"
                        <% }%> >
                            <a class="nav-link" href="/Paciente">Paciente</a>
                        </li>
                        <li  <%if (typeof active == 'undefined' || active=='consulta' ){%>
                              class="nav-item active"
                        <% }%> >
                            <a class="nav-link " href="/consulta">Consulta</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="btn-danger nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Bienvenido <%= usuario %>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="/cerrar_sesion" onclick="return confirm('Esta seguro de cerrar sesion?')">Cerrar Sesion</a>
                             </div>
                        </li>
                    </ul>
                    <%}%>
                <% } %>
        </div>
    </nav>
    <!-----Fin de nav-->
    <%if (typeof session == 'undefined' || (!session) ){%>
        <div class="jumbotron">
            <div class="container">
                <h1>Hello, world!</h1>
                <p>
                    This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.
                </p>
                <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h2>Section 1</h2>
                    <p>Some information for section 1</p>
                    <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
                </div>
                <div class="col-md-4">
                    <h2>Section 2</h2>
                    <p>Some information for section 2 </p>
                    <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
                </div>
                <div class="col-md-4">
                    <h2>Section 3</h2>
                    <p>Some information for section 1</p>
                    <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
                </div>
            </div>
            <% } else { %>
                <!--<div class="jumbotron">-->
                    <div class="container">
                        <%- include(fragmento); %>
                    </div>
               <!-- </div>-->
                <% } %>
        </div>
        <!-- <hr> -->
        <!--<hr style="color: #0056b2;" size="10" />-->
        <footer class="bottem-wthree-footer text-center py-md-4 py-3" >
            <p>&copy; Derechos reservados 2019</p>
            <p>&copy; Mayor informacion yukasmina@gmail.com</p>
        </footer>
        </div>
</body>

</html>