<!-- Modal -->
<script type="text/javascript" src="/javascripts/tagsinput.js"></script>
<script type="text/javascript">
 $(function () {
     validarFormulario();
        $("#txtcontacto").tagsinput();
        $("#txtenfer").tagsinput('items')
        $("#txtenf_h").tagsinput('items')
        $("#txthabitos").tagsinput('items')
        convert();
        function convert() {
        var date = new Date("<%= paci.fecha_nac %>"),
            mnth = ("0" + (date.getMonth() + 1)).slice(-2),
            day = ("0" + date.getDate()).slice(-2);
            var fecha=([date.getFullYear(), mnth, day].join("-"));
            $("#fecha").val(fecha);
        }
                $("#fecha").change(function() {
            var edad = calcularEdad($("#fecha").val());
            $("#txtedad").val(edad);
        });
    });
    </script>

<div class="card">
            <div class="card-header bg-success">
                <h5 class="card-title" >Modificar paciente</h5>
                </div>
               <div class="card-body">
                <div id="error"></div>
                <form id="idformulario" method="POST" action="/actualizar">
                <input type="hidden" value="<%= paci.external_id%>" name="external" id="external"></input>
                    <ul class="nav nav-tabs">
                        <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#dp">Datos Personales</a></li>
                        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#h">Historial</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="dp">
                            <div class="form-group">
                                <label for="cedula">Cedula</label>
                                <input type="text" class="form-control" id="txtcedula" placeholder="cedula" name="txtcedula" value="<%= paci.cedula%>">
                            </div>
                            <div class="form-group">
                                <label for="apellidos">Apellidos</label>
                                <input type="text" class="form-control" id="txtapellidos" placeholder="apellidos" name="txtapellidos" value="<%= paci.apellidos%>">
                            </div>
                            <div class="form-group">
                                <label for="nombres">Nombres</label>
                                <input type="text" class="form-control" id="txtnombres" placeholder="nombres" name="txtnombres" value="<%= paci.nombres%>">
                            </div>
                            <div class="form-group">
                                <label for="fecha">Fecha de nacimiento</label>
                                <input type="date" class="form-control" id="fecha" name="fecha" value="<%= paci.fecha_nac %>" />
                            </div>
                            <!--- <div class="form-group">
                                        <label for="genero">Genero</label>
                                        <select id="genero" name="genero" class="form-control">
                                                <option value="M">Masculino</option>
                                                <option value="F">Femenino</option>
                                                <option value="N">No deifne</option>
                                            </select>

                                    </div>-->
                            <div class="form-group">
                                <label for="edad">Edad</label>
                                <input type="text" class="form-control" id="txtedad" placeholder="edad" name="txtedad"  value="<%= paci.edad%>"readonly/>
                            </div>
                            <div class="form-group">
                                <label for="dir">Direccion</label>
                                <textarea id="txtdir" name="txtdir" class="form-control"><%= paci.direccion%>"</textarea>
                            </div>
                            <!-- <div class="form-group">
                                        <label for="celular">Celular</label>
                                        <input type="text" class="form-control" id="celular" placeholder="celular" name="celular">
                                    </div>
                                    <div class="form-group">
                                        <label for="fono">Telefono</label>
                                        <input type="text" class="form-control" id="fono" placeholder="Telefono" name="fono">
                                    </div>-->
                        </div>
                        <div class="tab-pane" id="h">
                            <div class="form-group">
                                <label for="nrohistoria">Nro Historial</label>
                                <input type="text" id="txtnrohistorial" name="txtnrohistorial" value="<%= paci.historial.nro_historia %>" class="form-control" readonly>
                            </div>
                            <div class="form-group">
                                <label for="contactos">Contacto</label>
                                <input type="text" id="txtcontacto" name="txtcontacto" class="form-control" value="<%= paci.historial.contacto %>"> 
                            </div>
                            <div class="form-group">
                                <label for="habitos">Habitos</label>
                                <input type="text" id="txthabitos" name="txthabitos" class="form-control" value="<%= paci.historial.habitos %>">
                            </div>
                            <div class="form-group">
                                <label for="enf">Enfermedades</label>
                                <input type="text" id="txtenfer" name="txtenfer" class="form-control" value="<%= paci.historial.enfermedades %>">
                            </div>
                            <div class="form-group">
                                <label for="enf_h">Enfermedades hederitarias</label>
                                <input type="text" id="txtenf_h" name="txtenf_h" class="form-control" value="<%= paci.historial.enfermedades_hereditarias %>" >
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <a href="/Paciente" class="btn btn-danger" >Cancelar</a>
                        <button type="submit" class="btn btn-success">Actualizar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>