<script type="text/javascript">
    $(function() {
        validar();
        $("#txtfechaNac").change(function() {
            var edad = calcularEdad($("#txtfechaNac").val());
            $("#txtedad").val(edad);
        });
    });
</script>
<form id="idformulario" name="idformulario" method="POST" action="registrar">
    <div class="info"></div>
    <div>
        <label class="badge badge-danger">Datos generales</label>
    </div>
    <div class="row">
        <div class="form-group col-md-4">
            <label for="cedula">Cedula</label>
            <input type="text" name="txtcedula" id="txtcedula" class="form-control" placeholder="Cedula" maxlength="13" autofocus="autofocus" required="required" />
        </div>
    </div>
    <div class="row">
        <div class="form-group col">
            <label for="apellido">Apellidos</label>
            <input type="text" name="txtapellido" id="txtapellido" class="form-control" placeholder="Apellidos" required="required" maxlength="25" />
        </div>

        <div class="form-group col">
            <label for="nombre">Nombres</label>
            <input type="text" name="txtnombre" id="txtnombre" class="form-control" placeholder="Nombres" required="" maxlength="25" />
        </div>
    </div>
    <div class="row">
        <!-- Columna dos -->
        <div class="form-group  col-md-3">
            <label for="fechaNac">Fecha de Nacimiento</label>
            <input type="date" name="txtfechaNac" id="txtfechaNac" class="form-control" required="" />
        </div>
        <div class="form-group col-md-2">
            <label for="edad">Edad</label>
            <input type="text" name="txtedad" id="txtedad" class="form-control" placeholder="Edad" maxlength="2" required="" />
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-4">
            <label for="registros">Registro</label>
            <input type="text" name="txtregistro" id="txtregistro" class="form-control" placeholder="Registro" maxlength="12" required="" />
            <small id="nroHelp" class="form-text text-muted">Ingrese su nro de registro.</small>
        </div>
        <!-- Columna dos -->
        <div class="form-group  col-md-4">
            <label for="nombressaa">Especialidad</label>
            <select class="form-control" data-style="btn-primary" name="especialidad" id="especialidad">
                    <option value="General">Medico General</option>
                    <option value="Ginecologia">Ginecologia</option>
                    <option value="Peditria">Peditria</option>
                    <option value="Dentista">Dentista</option>
                    <option value="Cardiologo">Cardiologo</option>
                    <option value="Urologo">Urologo</option>
                </select>
        </div>
    </div>
    <div>
        <span class="badge badge-danger">Datos cuenta</span>
    </div>
    <div class="row">
        <div class="form-group col-md-5">
            <label for="correo">Correo Electrónico</label>
            <input type="email" name="txtcorreo" id="txtcorreo" class="form-control" placeholder="Correo Electrónico" maxlength="50" required="" />
        </div>
        <div class=" form-group col-md-5">
            <label for="contrasenia">Contraseña</label>
            <input type="password" name="txtclave" id="txtclave" class="form-control" placeholder="Contraseña" maxlength="25" required="" />
        </div>
    </div>
    <div class="modal-footer">
        <a href="/principal" class="btn btn-danger" >Cancelar</a>
        <button type="submit" class="btn btn-primary" id="btnGuardar">Guardar</button>
    </div>
</form>