<!-- FIN GUARDAR PACIENTES -->
<script type="text/javascript" src="/javascripts/tagsinput.js"></script>
<script type="text/javascript">
    $(function () {
        $("#txthabitos").tagsinput();
        $("#txtcontacto").tagsinput();
        $("#txtenfer").tagsinput();
        $("#txtenf_h").tagsinput();
        validarFormulario()
        $("#fecha").change(function() {
            var edad = calcularEdad($("#fecha").val());
            $("#txtedad").val(edad);
        });
        $("#btnbuscar").click(function(){
            buscarPaciente();
        });
    });
</script>
<h3 class="title text-center mb-2">Paciente </h3>
<div class="card">
   <div class="card-header bg-info">
        Listado de pacientes
    </div>
    <div class="card-body">
        <div class="form-group">
            <a href="#" class="btn btn-success" data-toggle="modal" data-target="#ModalPaciente">NUEVO</a>
            <div class="row">
                <form class="form-inline ml-auto">
                <div class="form-group">
                    <label for="">Criterio de Busqueda</label>
                    <select class="form-control" name="criterio" id="criterio">
                        <option value="todos">Todos</option>
                        <option value="cedula">Cedula</option>
                        <option value="apellidos">Apellidos</option>
                        <option value="nro_historial">Nro Historial</option>
                    </select>
                </div>
                <div class="md-form my-0">
                    <input class="form-control" type="text" name="buscar" id="buscar" placeholder="Buscar">
                </div>
                <button type="button" class="btn btn-success btn-md my-0 ml-sm-2" id="btnbuscar">Buscar</button>
                </form>
            </div>
        </div>
        
        <div class="form-group">
            <% if(typeof msg != 'undefined') { %>
            <% if(typeof msg.error != 'undefined' && msg.error.length > 0) { %>
            <div class="form-group" id="mensaje">
                  <div class="alert alert-danger" role="alert" style="font-size: 12px">
                    <%= msg.error %>
                 </div>
            </div>             
            <% } %>
            <% if(typeof msg.success != 'undefined' && msg.success.length > 0) { %>
            <div class="form-group" id="mensaje">
                  <div class="alert alert-success" role="alert" style="font-size: 12px">
                    <%= msg.success %>
                 </div>
            </div>                
            <% } %>
            <% if(typeof msg.info != 'undefined' && msg.info.length > 0) { %>
               <div class="form-group" id="mensaje">
                  <div class="alert alert-info" role="alert" style="font-size: 12px">
                    <%= msg.info %>
                 </div>
            </div>                
            <% } %>
            <script type="text/javascript">
                            $(function() {
                                $('#mensaje').hide(4000);
                            });
                        </script>
            <% } %>
            <table id="tabla" class="table">
                <thead>
                    <tr>
                        <th>Nro</th>
                        <th>Cedula</th>
                        <th>Paciente</th>
                        <th>Nro Historial</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody id="tbody">
                        <% listado.forEach(function(item,index){%>
                        <tr>
                        <td> <%= (index+1)%></td>
                        <td> <%= item.cedula%></td>
                        <td> <%= item.nombres%>  <%= item.apellidos%></td>
                        <td> <%= item.historial.nro_historia%></td>
                        <td><div class="btn-group"><a href="/modificar/<%= item.external_id%>" title="Editar" class="btn btn-primary"><i class="far fa-edit"></i></a></div>&nbsp
                        <div class="btn-group"><a href="/Paciente/modificar/<%= item.external_id%>" data-toggle="modal" data-target="#ModificarPaciente" ><i class="far fa-address-book-o"></i></a></div>&nbsp</td>
                        </tr>
                        <%})%>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- PARA GUARDAR PACIENTES -->

<!-- Modal -->
<div class="modal fade" id="ModalPaciente" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header bg-danger">
                <h5 class="modal-title" id="exampleModalScrollableTitle">Registro de pacientes</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
            </div>
            <div class="modal-body">
                <div id="error"></div>
                <form id="idformulario" method="POST" action="registroPaciente">
                    <input type="hidden" value="0" id="external" name="external" />
                    <ul class="nav nav-tabs">
                        <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#dp">Datos Personales</a></li>
                        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#h">Historial</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="dp">
                            <div class="form-group">
                                <label for="cedula">Cedula</label>
                                <input type="text" class="form-control" id="txtcedula" placeholder="cedula" name="txtcedula">
                            </div>
                            <div class="form-group">
                                <label for="apellidos">Apellidos</label>
                                <input type="text" class="form-control" id="txtapellidos" placeholder="apellidos" name="txtapellidos">
                            </div>
                            <div class="form-group">
                                <label for="nombres">Nombres</label>
                                <input type="text" class="form-control" id="txtnombres" placeholder="nombres" name="txtnombres">
                            </div>
                            <div class="form-group">
                                <label for="fecha">Fecha de nacimiento</label>
                                <input type="date" class="form-control" id="fecha" name="fecha">
                            </div>
                            <!--- <div class="form-group">
                                        <label for="genero">Genero</label>
                                        <select id="genero" name="genero" class="form-control">
                                                <option value="M">Masculino</option>
                                                <option value="F">Femenino</option>
                                                <option value="N">No deifne</option>
                                            </select>

                                    </div>-->
                            <div class="form-group">
                                <label for="edad">Edad</label>
                                <input type="text" class="form-control" id="txtedad" placeholder="edad" name="txtedad" readonly/>
                            </div>
                            <div class="form-group">
                                <label for="dir">Direccion</label>
                                <textarea id="txtdir" name="txtdir" class="form-control"></textarea>
                            </div>
                            <!-- <div class="form-group">
                                        <label for="celular">Celular</label>
                                        <input type="text" class="form-control" id="celular" placeholder="celular" name="celular">
                                    </div>
                                    <div class="form-group">
                                        <label for="fono">Telefono</label>
                                        <input type="text" class="form-control" id="fono" placeholder="Telefono" name="fono">
                                    </div>-->
                        </div>
                        <div class="tab-pane" id="h">
                            <div class="form-group">
                                <label for="nrohistoria">Nro Historial</label>
                                <input type="text" id="txtnrohistorial" name="txtnrohistorial" value="<%= nro %>" class="form-control" readonly>
                            </div>
                            <div class="form-group">
                                <label for="contactos">Contacto</label>
                                <input type="text" id="txtcontacto" name="txtcontacto" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="habitos">Habitos</label>
                                <input type="text" id="txthabitos" name="txthabitos" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="enf">Enfermedades</label>
                                <input type="text" id="txtenfer" name="txtenfer" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="enf_h">Enfermedades hederitarias</label>
                               <input type="text" id="txtenf_h" name="txtenf_h" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-primary">GUARDAR</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>